.tech-stack-section {
  padding-top: 250px;
}

.tech-stack-title {
  /* Styling here voor Title */
}

.tech-stack-badge-section {
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  gap: 35px;
}

.tech-stack-badge-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.tech-stack-badge {
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 10px;
}

.tech-stack-badge-text {
  margin-top: 10px;
}