@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap');

:root {
  font-family: 'JetBrains Mono', monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #ffffff;
  background-color: #2B303C;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #FF9000;
  text-decoration: inherit;
}
a:hover {
  
}

body {
  padding-top: 175px;
  padding-left: 400px;
  min-width: 320px;
}

h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

p {
  margin: 0;
  padding: 0;
}

/* Removed dark theme defaults and vertical centering */
